@charset "utf-8";
body,
ul,
li,
dl,
dt,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
table,
fieldset,
legend{
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style: none;
}

img,
fieldset {
    border: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
//  color: #333;
}
em{
    font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}

body {
    font-family: Arial,'Microsoft YaHei';
}

input,
a {
    outline: none;
}
$font-size:12px;
//头部区域
#head_wrap{
    width:100%;
    font-size: $font-size;
    #top_nav_wrap{
        width:100%;
        background: #F8F8F8;
        .top_nav{
           width: 1200px;
           height: 30px;
           margin: 0 auto;
           font-size: $font-size;
           line-height: 30px;
           text-align: right;
           li{
               float: left;
               a{
                   display: inline-block;
                   height: 20px;
                   line-height: 20px;
                   padding: 0 18px;
                   color: rgb(102, 102, 102);
                   border-right: 1px dotted #ccc;
                   &:hover{
                       color:#FF3366;
                   }
              
                   em{
                       display: inline-block;
                       width: 18px;
                       height: 16px;
                       margin-right: 7px;
                       text-align: center;
                   }
                   .home{
                       background: url(../img/nav241x16.png) no-repeat;
                       background-position: 0 0;
                       vertical-align: sub;
                   }
                   .weixin{
                       background: url(../img/nav241x16.png) no-repeat;
                       background-position: -25px 0;
                       vertical-align: sub;
                   }
                   .qq{
                       background: url(../img/nav241x16.png) no-repeat;
                       background-position: -52px 0;
                       vertical-align: sub;
                   }
                   .cart{
                       background: url(../img/nav241x16.png) no-repeat;
                       background-position: -102px 0;
                       vertical-align: sub;
                   }
                   .collect{
                       background: url(../img/nav241x16.png) no-repeat;
                       background-position: -76px 0;
                       vertical-align: sub;
                   }
                   .order{
                       background: url(../img/nav241x16.png) no-repeat;
                       background-position: -130px 0;
                       vertical-align: sub;
                   }
                   .arrow{
                       width: 6px;
                       height: 16px;
                       margin-left: 10px;
                       background: url(../img/nav241x16.png) no-repeat;
                       background-position: -180px 0;
                       vertical-align: sub;
                   }
                   
               }
             .last{
                   border: none;
               }
           }
           .go-home{
               margin-right: 181px;
               a{
                   border: none;
               }
           }
           .drop{
               .down{
                   width: 86px;
                   height: 78px;
                   display: none;
                   padding: 8px 0;
                   margin-left: -1px;
                   background:#F8F8F8;
                   position: absolute;
                   top:30px;
                   z-index: 1;
                   border: 1px solid rgb(238, 238, 238);
                 li{
                   clear: left;
                   a{
                       border: none;
                       margin-bottom: 3px;
                   }
                }  
             }
             &:hover{
                 .down{
                     display: block;
                 }
             }
           }
        }
    }
    .inner{
        width: 1200px;
        height:120px;
        margin: 0 auto;
        position: relative;
        .logo{
            float: left;
            width: 204px;
            height: 52px;
            margin-top: 40px;
            img{
                width: 204px;
                height: 52px;
            }
        }
        .search{
            width: 520px;
            position: absolute;
            top:21px;
            left:50%;
            margin-left: -240px;
            .search-tab{
                span{
                    display: inline-block;
                    text-align: center;
                    width: 56px;
                    line-height: 24px;
                    cursor: pointer;
                    background-color: #f36;
                    color: #fff;
                }
            }
            .search-box{
                height: 30px;
                position: relative;
                 .search-txt{
                    float: left;
                    border: 2px solid #FF3366;
                    width: 437px;
                    height: 28px;
                    line-height: 28px;
                    margin: 0;
                    padding: 0 0 0 8px;
                }
                .search-btn{
                    float: left;
                    width: 70px;
                    height: 32px;
                    background: #f36 url(../img/search19_17.c5.png) no-repeat center;
                    cursor: pointer;
                }

                #suggest-box {
                    border: 1px solid #ddd;
                    width: 446px;
                    background-color: #fff;
                    position: absolute;
                    left: 0;
                    top: 31px;
                    z-index: 12;
                    display: none;
                    li{
                        line-height: 20px;
                        padding: 2px 10px;
                        cursor: pointer;
                        &:hover{
                            background-color: #f2f0f1;
                            a{
                               color: #f36; 
                            }
                        }
                        a{
                            color: #666;
                            font-size: 12px;
                        }
                    }
                    .choose{
                        background-color: #f2f0f1;
                        color: #f36;
                    }
                }
            }
           .hotword{
               padding-top: 12px;
               a{
                  display: block;
                  float: left;
                  font-size: 12px;
                  padding-right: 10px; 
               }
           }
        }
        .spread{
            float: right;
            margin-top: 3px;
        }
    }
    .sec_nav_fix{
        position:fixed;
        top:0;
        z-index: 10;
    }
//  头部的第二个导航
    #sec_nav_wrap {
        margin-top: 40px;
        width: 100%;
        height: 40px;
        background: white;
        line-height: 40px;
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(151, 151, 151, .32);
        .sec_nav {
            width: 1200px;
            margin: 0 auto;
            
            &:after{
                clear: both;
                content: ".";
                display: block;
                visibility: hidden;
                height: 0
            }
            li {
                width: 109px;
                float: left;
                a {
                    display: inline-block;
                    font-size: 16px;
                    font-weight: 700;
                    color: black;
                    height: 38px;
                    &:hover{
                    border-bottom: 2px solid #f36;
                    }
                }
                .show{
                    border-bottom: 2px solid #f36;
                }
            }
        }
    }
}
//banner图
#banner_wrap{
    width: 100%;
    .banner{
        width: 1200px;
        height: 400px;
        margin: 0 auto;
        img{
            width: 1200px;
            height: 400px;
        }
    }
}
//中间区域
#content_wrap{
    width: 100%;
    .content{
        background: skyblue;
        width: 1200px;
        height: 10000px;
        margin: 0 auto;
        margin-top: 50px;
        .content_top{
            &:after{
                clear: both;
                content: ".";
                display: block;
                visibility: hidden;
                height: 0;
            }
            a{
                float: right;
                margin-top: 4px;
                font-size: 14px;
                color: #6f6f6f;
            }
            .content_nav{
                text-align: center;
                .ct_link{
                        float: left;
                        position: relative;
                        font-size: 20px;
                        height: 28px;
                        line-height: 28px;
                        color: #000;
                        &:hover{
                            color:#e40045;
                            em{
                                display: block;
                            }
                        }
                        em{
                            display: none;
                            width: 36px;
                            height: 3px;
                            background: #e40045;
                            margin-left: 22px;
                        }
                }
                .ct_one{
                    margin-left: 470px;
                    margin-right: 33px;
                    color:#e40045;
                    border-color: #e40045;
                    em{
                        display: block;
                    }
                }
            }
        }
      .new_content{
          width: 1200px;
          background: yellowgreen;
          margin-top: 20px;
          height: 846px;
          #new_list{
              li{
                  width: 224px;
                  height: 403px;
              }
          }
      }  
    }
}
//脚部
#footer_wrap{
    width: 100%;
    margin-top: 15px;
    padding-top: 30px;
    background: #F5F5F5;
    border-top: 1px solid #ddd;
    footer{
        width: 1200px;
        overflow: hidden;
        margin: 0 auto;
        .bottom{
            font-size: 12px;
            width: 1200px;
            height: 200px;
            .first{
                float:left;
                line-height: 26px;
                margin-bottom: 20px;
                margin-right: 104px;
                h4{
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 28px;
                    color: #666;
                }
                .bottom_link{
                    line-height: 26px;
                    margin-top: 12px;
                    a{
                        line-height: 26px;
                        color: #666;
                        span{
                           float: left;
                            width: 18px;
                            height: 18px;
                            margin-top: 5px;
                            margin-right: 5px;
                            background:url(../img/follow74x18.png); 
                        }
                        .bottom_sina{
                            background-position: 0 0;
                        }
                        .bottom_qqzone{
                            
                            background-position:-28px 0;
                            
                        }
                        .bottom_weibo{
                            background-position:-56px 0;
                        }
                    }
                }
               
            }
            .aboutus{
                margin-right: 0;
                a{
                    vertical-align: middle;
                }
            }
            .service{
                margin-left: 228px;
                margin-right: 55px;
                text-align: center;
                 img{
                    display: inline-block;
                    margin-top: 13px;
                }
            }
            .last{
                text-align: center;
                float: left;
                margin-right: 0;
                img{
                    display: inline-block;
                    margin-top: 13px;
                }
            }
        }
        .footer_copyright{
            font-size: 12px;
            color: #666;
            border-top: 1px solid #e6e6e6;
            line-height: 22px;
            padding: 12px 192px;
            text-align: center;
            a {
                color: #666;
            }
        }
    }
}
//侧边栏
#slidebar{
    width: 38px;
    height: 100%;
    border-left: 1px solid #ddd;
    background-color: #F6F6F6;
    position: fixed;
    right: 0;
    top: 0;
    font-size: 12px;
    z-index: 6;
    .slide_inner{
        position: absolute;
        top: 62px;
        border-top: 1px solid #ddd;
        .slide_btn{
            border-bottom: 1px solid #ddd;
            line-height: 1.2;
            .slide_text{
                width: 40px;
                height: 20px;
                display: inline-block;
                margin-top: 12px;
                margin-left: -18px;
                transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -moz-transform: rotate(90deg)
            }
            .slide_code{
                width: 140px;
                height: 140px;
                padding: 13px;
                border: 1px solid #ddd;
                background-color: #fff;
                position: absolute;
                right: 38px;
                top: 0;
                display: none;
                &:after,&:before{
                    border: solid transparent;
                    content: '';
                    height: 0;
                    left: 100%;
                    position: absolute;
                    width: 0;
                }
                &:after{
                    border-width: 10px;
                    border-left-color: #fff;
                    top: 55px;
                }
                &:before{
                  border-width: 12px;
                  border-left-color: #ddd;
                  top: 53px;
                }
                img{
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    bottom: 0;
                    top: 0;
                }
            }
            .slide_num{
               background-color: #F33866;
                color: #fff;
                padding: 0 4px;
                border-radius: 10px;
                display: block;
                position: absolute;
                top: 4px;
                right: 2px;
                z-index: 8;
            }
        }
        .slide_link{
            display: block;
            width: 10px;
            padding-top: 36px;
            padding-right: 14px;
            padding-left: 14px;
            cursor: pointer;
            line-height: 1.2;
            color: #666;
            background: 11px 13px no-repeat;
            text-decoration: none;
            &:hover{
                color: #fff;
                background-color: #F33866;
                .slide_num{
                  background-color: #fff;
                  color: #F33866;
                }
            }
        }
        .slide_cart{
            position: relative;
            .slide_link{
                height: 61px;
                background: url(../img/cart17x13.png) no-repeat 10px 9px;
                &:hover{
                   background: #F33866 url(../img/cartH17x13.png) no-repeat 10px 9px; 
                }
            }
        }
        .slide_service{
            position: relative;
            .slide_link{
                height: 52px;
                background: url(../img/message17x15.png) no-repeat 11px 13px;
                &:hover{
                    background:#F33866 url(../img/messageH17x15.png) no-repeat 11px 13px;
                }
            }
        }
        .slide_discount{
            position: relative;
            .slide_link{
                height: 56px;
                background: url(../img/discount18x13.png) no-repeat 11px 13px;
                &:hover{
                    background: #F33866 url(../img/discountH18x13.png) no-repeat 11px 13px;
                }
            }
        }
        .slide_mark{
            .slide_link{
                height: 46px;
                padding-top: 41px;
                background: url(../img/collect19x18.png) no-repeat 11px 13px;
                &:hover{
                    background:#F33866 url(../img/collectH19x18.png) no-repeat 11px 13px;
                }
            }
        }
        .slide_foot{
            .slide_link{
                height: 49px;
                padding-top: 44px;
                background: url(../img/foot15x21.png) no-repeat 11px 13px;
                &:hover{
                    background: #F33866 url(../img/footH15x21.png) no-repeat 11px 13px;
                }
            }
        }
        .slide_download{
            height: 70px;
            background: url(../img/dl12x18.png) 13px 10px no-repeat;
            position: relative;
            padding-top: 41px;
            &:hover{
              color: #fff;
              background: #F33866 url(../img/dlH12x18.png) 13px 10px no-repeat; 
              .slide_code{
                  display: block;
              }
            }
        }
    }
    .go_top{
        position: fixed;
        right: 0;
        bottom: 0;
        width: 38px;
        height: 40px;
        text-align: center;
        border-top: 1px solid #ddd;
        z-index: 10;
        display: none;
        background:  #f8f8f8 url(../img/top14x7.png) no-repeat 12px 16px;
        &:hover{
            cursor: pointer;
            background: #F33866 url(../img/topH14x7.png) no-repeat 12px 16px;
        }
    }
}
