@charset "UTF-8";
body,
ul,
li,
dl,
dt,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
table,
fieldset,
legend {
  margin: 0;
  padding: 0; }

ul,
li,
ol {
  list-style: none; }

img,
fieldset {
  border: 0; }

img {
  display: block; }

a {
  text-decoration: none;
  color: #333; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100; }

body {
  font-family: "微软雅黑"; }

input,
a {
  outline: none; }

#top-wrap #top .logo_tip {
  position: absolute;
  top: 12px;
  display: inline-block;
  height: 28px;
  width: 861px;
  margin-left: 20px;
  background-color: #ffefef;
  border: 1px solid #ffc0cc;
  text-align: center;
  line-height: 28px;
  font-size: 12px;
  color: #666; }

#content-wrap {
  background: #f5f5f5 url(../img/banner_login400x300.jpg) no-repeat center center; }
  #content-wrap #right-banner .regist {
    height: 53px;
    border-bottom: 1px solid #ccc; }
    #content-wrap #right-banner .regist:after {
      clear: both;
      content: ".";
      display: block;
      visibility: hidden;
      height: 0; }
    #content-wrap #right-banner .regist h3 {
      width: 50%;
      float: left;
      padding: 0;
      border: none; }
      #content-wrap #right-banner .regist h3 span {
        display: inline-block;
        height: 41px;
        width: 119px;
        text-align: center;
        line-height: 42px;
        cursor: pointer; }
      #content-wrap #right-banner .regist h3 .tap {
        color: #fe617a;
        border-bottom: 2px solid #ff4066; }
    #content-wrap #right-banner .regist .regist-left span {
      margin: 10px 39px 2px 39px; }
    #content-wrap #right-banner .regist .regist-right span {
      margin: 10px 30px 0 30px; }
  #content-wrap #right-banner .regist-msg .phone-coat #userphone2 {
    display: none;
    height: 40px;
    width: 300px;
    border: 1px solid #ccc;
    padding: 0 6px;
    font-size: 12px;
    background: #ffeceb; }
  #content-wrap #right-banner .regist-msg .psw {
    position: relative;
    margin-bottom: 15px; }
    #content-wrap #right-banner .regist-msg .psw #secret {
      height: 40px;
      width: 300px;
      border: 1px solid #ccc;
      padding: 0 6px;
      font-size: 12px;
      background: #ffeceb; }
  #content-wrap #right-banner .regist-msg .click-regist {
    padding-top: 10px; }
  #content-wrap #right-banner .regist-msg .login-coat {
    margin-top: 20px; }
    #content-wrap #right-banner .regist-msg .login-coat .login-way {
      padding-top: 6px; }
      #content-wrap #right-banner .regist-msg .login-coat .login-way:after {
        clear: both;
        content: ".";
        display: block;
        visibility: hidden;
        height: 0; }
      #content-wrap #right-banner .regist-msg .login-coat .login-way .QQ {
        float: left;
        margin-right: 47px; }
        #content-wrap #right-banner .regist-msg .login-coat .login-way .QQ img {
          float: left;
          vertical-align: top;
          margin-right: 6px; }
      #content-wrap #right-banner .regist-msg .login-coat .login-way .wechat {
        float: left;
        margin-right: 47px; }
        #content-wrap #right-banner .regist-msg .login-coat .login-way .wechat img {
          float: left;
          vertical-align: top;
          margin-right: 6px; }
  #content-wrap #right-banner .regist-msg .lg_reg {
    padding-top: 20px;
    padding-right: 44px;
    text-align: right; }
    #content-wrap #right-banner .regist-msg .lg_reg .findpwd {
      margin-right: 20px;
      text-decoration: underline;
      color: #959595; }
    #content-wrap #right-banner .regist-msg .lg_reg .free {
      color: #fe5979;
      text-decoration: underline; }

#footer_wrap {
  margin-top: 0; }

/*# sourceMappingURL=login.css.map */
