@charset "utf-8";
//重置样式
body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";}
input,a{outline:none;}
//网页最顶端
#top_nav_wrap{
        width:100%;
        background: #F8F8F8;
        .top_nav{
           width: 1200px;
           height: 30px;
           margin: 0 auto;
           font-size: 12px;
           line-height: 30px;
           text-align: right;
           li{
               float: left;
               a{
                   display: inline-block;
                   height: 20px;
                   line-height: 20px;
                   padding: 0 18px;
                   color: rgb(102, 102, 102);
                   border-right: 1px dotted #ccc;
                   &:hover{
                       color:#FF3366;
                   }
              
                   em{
                       display: inline-block;
                       width: 18px;
                       height: 16px;
                       margin-right: 7px;
                       text-align: center;
                   }
                   .home{
                       background: url(../img/nav241x16.png) no-repeat;
                       background-position: 0 0;
                       vertical-align: sub;
                   }
                   .weixin{
                       background: url(../img/nav241x16.png) no-repeat;
                       background-position: -25px 0;
                       vertical-align: sub;
                   }
                   .qq{
                       background: url(../img/nav241x16.png) no-repeat;
                       background-position: -52px 0;
                       vertical-align: sub;
                   }
                   .cart{
                       background: url(../img/nav241x16.png) no-repeat;
                       background-position: -102px 0;
                       vertical-align: sub;
                   }
                   .collect{
                       background: url(../img/nav241x16.png) no-repeat;
                       background-position: -76px 0;
                       vertical-align: sub;
                   }
                   .order{
                       background: url(../img/nav241x16.png) no-repeat;
                       background-position: -130px 0;
                       vertical-align: sub;
                   }
                   .arrow{
                       width: 6px;
                       height: 16px;
                       margin-left: 10px;
                       background: url(../img/nav241x16.png) no-repeat;
                       background-position: -180px 0;
                       vertical-align: sub;
                   }
                   
               }
             .last{
                   border: none;
               }
           }
           .go-home{
               margin-right: 181px;
               a{
                   border: none;
               }
           }
           .drop{
               .down{
                   width: 86px;
                   height: 78px;
                   display: none;
                   padding: 8px 0;
                   margin-left: -1px;
                   background:#F8F8F8;
                   position: absolute;
                   top:30px;
                   z-index: 60;
                   border: 1px solid rgb(238, 238, 238);
                 li{
                   clear: left;
                   a{
                       border: none;
                       margin-bottom: 3px;
                   }
                }  
             }
             &:hover{
                 .down{
                     display: block;
                 }
             }
           }
        }
    }


//网页最底部
#footer_wrap{
    width: 100%;
    margin-top: 15px;
    padding-top: 30px;
    background: #F5F5F5;
    border-top: 1px solid #ddd;
    footer{
        width: 1200px;
        overflow: hidden;
        margin: 0 auto;
        .bottom{
            font-size: 12px;
            width: 1200px;
            height: 200px;
            .first{
                float:left;
                line-height: 26px;
                margin-bottom: 20px;
                margin-right: 104px;
                h4{
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 28px;
                    color: #666;
                }
                .bottom_link{
                    line-height: 26px;
                    margin-top: 12px;
                    a{
                        line-height: 26px;
                        color: #666;
                        &:hover{
                            color:#f36;
                        }
                        span{
                           float: left;
                            width: 18px;
                            height: 18px;
                            margin-top: 5px;
                            margin-right: 5px;
                            background:url(../img/follow74x18.png); 
                        }
                        .bottom_sina{
                            background-position: 0 0;
                        }
                        .bottom_qqzone{
                            
                            background-position:-28px 0;
                            
                        }
                        .bottom_weibo{
                            background-position:-56px 0;
                        }
                    }
                }
               
            }
            .aboutus{
                margin-right: 0;
                a{
                    vertical-align: middle;
                    
                }
            }
            .service{
                margin-left: 228px;
                margin-right: 55px;
                text-align: center;
                 img{
                    display: inline-block;
                    margin-top: 13px;
                }
            }
            .last{
                text-align: center;
                float: left;
                margin-right: 0;
                img{
                    display: inline-block;
                    margin-top: 13px;
                }
            }
        }
        .footer_copyright{
            font-size: 12px;
            color: #666;
            border-top: 1px solid #e6e6e6;
            line-height: 22px;
            padding: 12px 192px;
            text-align: center;
            a {
                color: #666;
                &:hover{
                        color:#f36;
                    }
            }
        }
    }
}